<div class="container">
  <div *ngIf="isAuthenticated$ |async">
    <nav class="navbar p-2 rounded navbar-expand-lg navbar-dark bg-primary justify-content-between mr-3 ">
      <a class="navbar-brand " href="#"> Onekana </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/attendances">Attendance</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/enrollment">Enrollment</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="javascript:void(0)" (click)="logout()">Logout </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- <p>{{token$ |async}}</p>
    <p>{{profile$ | async}}</p> -->
    <router-outlet></router-outlet>
  </div>
  <div class="center-grid" *ngIf="! (isAuthenticated$ |async)">
    <div class="row align-middle">
      <!-- <div class="col-3">

      </div> -->
      <div style="max-width: 500px" class="p-5 ">
        <div class="p-5">
          <h2 class="text-primary">Onekana Statistics</h2>

        </div>
        <sistch-ngxs-login></sistch-ngxs-login>
      </div>
      <!-- <div class="col-3"> </div> -->
    </div>
  </div>
</div>