<div class="container">
  <div *ngIf="isAuthenticated$ |async">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
      <div class="container-fluid">
        <a class="navbar-brand " href="#"> Onekana </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/attendances">Attendance</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/enrollment">Enrollment</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="javascript:void(0)" (click)="logout()">Logout </a>
            </li>
          </ul>
          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>

    <!-- <p>{{token$ |async}}</p>
    <p>{{profile$ | async}}</p> -->
    <router-outlet></router-outlet>
  </div>
  <div class="center-grid" *ngIf="! (isAuthenticated$ |async)">
    <div class="row align-middle">
      <!-- <div class="col-3">

      </div> -->
      <div style="max-width: 500px" class="p-5 ">
        <div class="p-5">
          <h2 class="text-primary">Onekana Statistics</h2>

        </div>
        <sistch-ngxs-login></sistch-ngxs-login>
      </div>
      <!-- <div class="col-3"> </div> -->
    </div>
  </div>
</div>